<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.danieljchen.referenceframework</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>47B98BC9-1DB6-42A8-91E8-8C28BD99BC43</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>929F29F9-0823-4DFA-9735-92C6B8626DA6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Daniel J Chen</string>
	<key>description</key>
	<string>Framework for Alfred which makes it simple to create workflows to search and look up user-defined information.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Alfred Reference Framework</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>arf</string>
				<key>runningsubtext</key>
				<string>Searching {planets}</string>
				<key>script</key>
				<string>./arf/main.sh arf/data/default.arf {query} --static

# To toggle ARF+, which allows for dynamic generation of 
# data through the creation of the temporary .arf file 
# using user-created dynamic.sh (from scripts)
#
# Remove --static from third argument...
# 	e.g. ./arf/main.sh arf/data/default.arf {query}
# rather than
# 		 ./arf/main.sh arf/data/default.arf {query} --static

</string>
				<key>subtext</key>
				<string>Type name of {planet}, or "all" to retrieve all data.</string>
				<key>title</key>
				<string>{ARF Application}</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>47B98BC9-1DB6-42A8-91E8-8C28BD99BC43</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>./scripts/actions.sh {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>929F29F9-0823-4DFA-9735-92C6B8626DA6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>47B98BC9-1DB6-42A8-91E8-8C28BD99BC43</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>929F29F9-0823-4DFA-9735-92C6B8626DA6</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>danieljchen.com</string>
</dict>
</plist>
